div { width:100vw ;height:30vh;
    background-color: black; animation-name: fadeinforheader;animation-duration: 3s;
}

@keyframes fadeinforheader {
    0% {opacity:0}
    100% {opacity:1}
}
h1 {animation-name: zoominfortitle;animation-duration: 3s; animation-delay: 4s; animation-timing-function: linear; animation-fill-mode: forwards;

}
@keyframes zoominfortitle {
    0% {transform: scale(0);}
    100% {transform: scale(3)}
    
}

body {position: absolute;}

button {position: relative; background-color: red;border: solid 3px;font-size: large;
    animation: buttonanimation 2s linear 6s  forwards;}






@keyframes buttonanimation {0%{ transform: translate(47vw,-28vh); opacity:0}
                            100%{transform: translate(47vw,14vh);opacity:1}
    
}